body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    font-size: 18px;
}
.wrapper {
    align-items: center;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.container {
    padding: 31px;
    background: white;
    width: 70vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 83px;
    background-color: white;
    border-radius: 10px;
    max-width:1000px
}

.header {
    width: 10vw;
    margin: 0 auto;
    /* align-self: center; */
    display: grid;
    justify-content: center;
}

.main-l {
    display:grid;
    margin: 10vh auto;
    grid-column: 1;
    
}

.main-r {
    display:grid;
    background-color: hsl(183, 100%, 15%);
    max-height: 100%;
    grid-column: 2;
    border-radius: 13px;
    font-size: .90rem;
}
.innerr {
    display: grid;
    grid-template-areas: 'narrowtl narrowtr'
        'narrowml narrowmr'
        'bottom bottom';
    padding: 40px;

}

.innerl {
    display:grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bottom {
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area: bottom;
    width: 100%;
    place-items: center;
    max-height: 100px;
    
    
}

.reset{
    display:flex;
    align-items: center;
    justify-content: center;
    max-height: 240px;
    width: 200px;
    
    
}

.narrowml{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: narrowml;
    max-height: 100px;
}

.narrowmr{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: narrowmr;
    max-height: 100px;
    color:hsl(172, 67%, 45%);
    font-size: 2rem;
}

.narrowtl{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: narrowtl;
}

.narrowtr{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color:hsl(172, 67%, 45%);
    font-size: 2rem;
    grid-area: narrowtr;
}
.button{
    background-color: hsl(172, 67%, 45%);
    border: none;
    color: hsl(183, 100%, 15%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    min-width: 90%;
    max-height: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.bill{
    grid-row: 1;
    grid-column: 1/4;
    background-color: rgb(230, 164, 164);
}